<% include ../partials/headerTeacher.ejs %>



<script>
    $('body').css('opacity','0')
</script>

<div class="container-fluid">

<!--CÍM-->
    <h1 class='alignCenter white marginTop1 fontFamilyCourier fontSize4remMobile9vw '><%= tantargy %></h1>   
    <h1 class='alignCenter white  fontFamilyCourier fontSize2remMobile6vw '><%= osztaly %><span class='fontSize1p2'> (kód:<%= kod %>)</span></h1>  
    
    <p class="alignCenter"><img class="margrin1 width15pcmobile50pc hide nincsSzoveg" src="/nothing_found.png"></p>
    <h1 class='alignCenter white margin2 fontFamilyCourier fontSize2remMobile6vw hide nincsSzoveg'>Még senki se csatlakozott!</h1>
    
    <div class="marginAuto block alignCenter keresesNevAlapjanDiv">
        <p class="white" >Keresés név alapján: <input class="maxWidth90pIfNotMobile" id="keresesInput" type="text" > </p>
    </div>

    <div class="table-responsive-lg width85pcmobile99pc marginAuto emberekDiv">
        <table class="nevekTable table table-dark  borderRadius1em tablePontok marginBottom1" style="border-top: 17px solid #16181c;">
            <thead>
              <tr>
                <th class='alignCenter' scope="col">#</th>
                <th class='alignCenter' scope="col">Név</th>
                <th class='alignCenter' scope="col">Feladat neve</th>
                <th class='alignCenter' scope="col">Kapott pont</th>
                <th class='alignCenter' scope="col">Mentés</th>
                <th class='alignCenter' scope="col">Pont</th>
                <th class='alignCenter' scope="col">Egyéb</th>
              </tr>
              <tr style='border-bottom:3px solid #95999c;border-top:5px solid #3d444b;'>
                <th class='alignCenter' scope="row"> <input type='checkbox' id='selectAll' class='checkbox checkbox1p5x marginRight0p5'></th>
                <td class='alignCenter'> Kijelölt emberek: </td>
                <td class='alignCenter feladatInputTd'> 
                    <input type="text" id="foFeladatInput" class="feladatInput form-control marginAuto maxWidth90pIfNotMobile" placeholder="Feladat" aria-label="Feladat" aria-describedby="basic-addon1">
                </td>
                <td class='alignCenter pontInputTd'> 
                    <input type="number" id="foPontInput" class="pontInput form-control hideArrowNumberInput maxWidth60pIfNotMobile marginAuto"  placeholder="Pont" aria-label="Pont" aria-describedby="basic-addon1">
                </td>
                <td class='alignCenter'> 
                    <button class='kijeloltEmberekButton btn white borderA bgColorBlack colorBlackHover width100pc bgColorWhiteHover colorBlackHover'>Összes mentés</button>
                </td>
                <td class='alignCenter'> 0  </td>
                <td class='width5pc'>
                    <div class='marginLeft0p5'>
                    <div class="btn-group dropup margin0 ">
                      <button type="button" class="btn btn-secondary margin0 borderRadius0p5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                        <a  class="dropdown-item pointer tobbProfilNullazasaButton" >Kijelöltek NULLÁZÁSA</a>
                        <a  class="dropdown-item pointer tobbProfilPontjaiTorleseButton" >Kijelöltek pontjai törlése</a>
                      </div>
                    </div>
                    </div>
                </td>
              </tr>
            </thead>
            <tbody>                    
               <% diakok.forEach(function(diak,index){ %>
                    <tr name='<%= diak._id %>' id='<%= diak.userId %>' >
                        <th class='alignCenter' scope="row"> <input type='checkbox' class='checkbox diakCheckbox checkbox1p5x marginRight0p5'> <%= index+1 %>.</th>
                        <td class='alignCenter pointer diakNevTd diakNevTd'> <%= diak.nev %> </td>
                        <td class='alignCenter feladatInputTd'> 
                            <input type="text" class="feladatInput form-control marginAuto maxWidth90pIfNotMobile" placeholder="Feladat" aria-label="Feladat" aria-describedby="basic-addon1">
                        </td>
                        <td class='alignCenter pontInputTd'> 
                            <input type="number" class="pontInput form-control hideArrowNumberInput maxWidth60pIfNotMobile marginAuto"  placeholder="Pont" aria-label="Pont" aria-describedby="basic-addon1">
                        </td>
                        <td class='alignCenter'> 
                            <button name='<%= diak._id %>' id='<%= diak.userId %>' class='mentesButton btn white borderA bgColorBlack colorBlackHover width100pc bgColorWhiteHover colorBlackHover'>Mentés</button>
                        </td>
                        <td class='alignCenter diakPontTd'> <%= diak.pont %>  </td>
                        <td class='width5pc'>
                            <div class='marginLeft0p5'>
                            <div class="btn-group dropup margin0 ">
                              <button type="button" class="btn btn-secondary margin0 borderRadius0p5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                <a  class="dropdown-item pointer profilTorleseButton" >Profil törlése a csoportból</a>
                                <a  class="dropdown-item pointer profilPontjaiTorleseButton" >Profil pontjai törlése</a>
                              </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tbody class='feladatokTbody'>
                        <tr class="table-secondary ">
                            <td colspan="2" class='alignCenter black'>Időpont</td>
                            <td colspan="2" class='alignCenter black'>Feladat neve</td>
                            <td colspan="3" class='alignCenter black'>Pont</td>
                        </tr>
                        <% diak.kapott.reverse() %>
                        <% diak.kapott.forEach(function(feladat){ %>
                            <tr class="table-light ">
                                <td colspan="2" class='alignCenter black'><%= feladat.mikor %></td>
                                <td colspan="2" class='alignCenter black'><%= feladat.nev %></td>
                                <td colspan="3" class='alignCenter black'><%= feladat.pont %></td>
                            </tr>
                        <% }) %>
                    </tbody>
               <% }) %>
            </tbody>
        </table>
    </div>
    
    <center>
        <button id='csoportTorleseButton' class='btn white borderA bgColorBlack colorBlackHover width100pc bgColorWhiteHover colorBlackHover margin2'>Csoport törlése</button>
    </center>
    
</div>



<script>
    var date = new Date().toDateString().slice(4,15);

    //NÉV KERESÉS
    jQuery.expr[':'].icontains = function(a, i, m) {
        return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };
    $('#keresesInput').bind("keyup",function(){
        let as = $('#keresesInput').val();
        //var as = asd.toLowerCase();
        //HA ÜRED A KERESŐ
        if(as==''){
            $("tbody tr").css("display", "table-row");               
        }else{
            $("tbody tr").css("display", "none");
            $('.cimekTable').css("display", "table-row");
            $(".diakNevTd:icontains("+as+")").parent().css("display", "table-row");
        }
    });

    //TOGGLE FELADATOK
        $('.feladatokTbody').slideUp();
        setTimeout(function(){$('body').css('opacity','1')},400);
        $('.diakNevTd').on('click',function(){
              $(this).parent().parent().next('tbody').slideToggle(10)  
        });
        
    //CHECKBOX 
        //MINDENKI KIJELÖLÉSE	
        	$("#selectAll").change(function(){
        		selectAllOne()
        	});
        //MINDENKI KIJELÖLÉSE 2
        	$('.checkbox').change(function(){
        		selectAllTwo()
        	});
    
     var osztalyId   = '<%= classId %>';
     var tantargy    = '<%= subject %>';
     
     var vannakDiakok = !(<%- JSON.stringify(diakok) %>.length == 0);

     //HA NINCS MÉG CSATLAKOZOTT DIÁK SZÖVEG
     if(!vannakDiakok){
         $(".keresesNevAlapjanDiv").hide();
        $('.emberekDiv').hide();
        $('.nincsSzoveg').removeClass('hide');
     }
       
     
    //FŐ FELADAT/POST INPUTBA ÍRÁSKOR AZ ÖSSZES FELADAT/PONT INPUTBA
        $('#foFeladatInput').on("keydown",function(){
            setTimeout(function(){
                $(".feladatInput").val( $('#foFeladatInput').val() )
            },1) 
        });
        $('#foPontInput').on("keydown",function(){
            setTimeout(function(){
                $(".pontInput").val( $('#foPontInput').val() )
            },1) 
        });

    //EGY EMBER ÚJ FELADAT/PONT
        $('.mentesButton').on('click',function(){
            loaderShow();
            var feladatNev  = $(this).parent().parent().find('.feladatInputTd').find('.feladatInput').val();
            var pont        = Number($(this).parent().parent().find('.pontInputTd').find('.pontInput').val());
            var nevId       = $(this).attr("name");
            var userId      = $(this).attr('id');
            var osztalyId   = '<%= classId %>';
            var tantargy    = '<%= subject %>'
            var thisHtml = $(this);

            let emberek = [{
                feladatNev:feladatNev,
                pont:pont,
                nevId:nevId,
                userId:userId
            }];
            

            if(pont=='' && (pont==0 && feladatNev == '')){
                loaderStop();
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Nem adtad meg a kapott pontot!'
                });
            } else {
                $.ajax({
                    type:'POST',
                    url:'/newPoint',
                    dataType:'json',
                    data:{
                        osztalyId:osztalyId,
                        tantargy:tantargy,
                        emberek:emberek
                    },
                    success:function(back){
                        if(back.success){
                            loaderStop();
                            var jelenlegiPont = Number(thisHtml.parent().parent().find('.diakPontTd').text());
                            thisHtml.parent().parent().find('.diakPontTd').text(jelenlegiPont+pont);
                            thisHtml.parent().parent().parent().next('.feladatokTbody').children('tr:first').after('<tr class="table-light "><td colspan="2" class="alignCenter black">'+date+'</td><td colspan="2" class="alignCenter black">'+feladatNev+'</td><td colspan="3" class="alignCenter black">'+pont+'</td></tr>');
                            Swal.fire({
                                type: 'success',
                                title: 'Elmentve!',
                                text: '',
                                showConfirmButton: false,
                                timer: 1000
                            });
                        } else {
                            loaderStop();
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Valami hiba történt, próbáld meg később!'
                            })
                        }
                    },
                    error:function(){
                        loaderStop();
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Valami hiba történt, próbáld meg később!'
                        })
                    }
                })
            }
            
        });

    //KIJELÖLT EMBEREK ÚJ FELADAT/PONT
        $('.kijeloltEmberekButton').on('click',function(){
            loaderShow();
            var trDarab = $('.nevekTable tr').length-1;
		    var mennyiChecked = Number($('.diakCheckbox:checked').length);
		    
            let emberek = [];

            var hiba = false;
            
            if(mennyiChecked==0){
                hiba = true;
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Nem jelöltél ki senkit!'
                })
            }
            if(pont=='' && (pont==0 && feladatNev == '')){
                hiba = true;
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Nem adtad meg a kapott pontot!'
                })
            } 
            
            if(!hiba){
    		    for(var i=0;i<trDarab-1;i++){
                    let selectedRow = $('.nevekTable tr').eq(i+2).find('th').find('input').is(':checked');
                    
    		        if(selectedRow){
                        var feladatNev = $('.nevekTable tr').eq(i+2).find(".feladatInputTd").find(".feladatInput").val(); 
                        var pont = Number($('.nevekTable tr').eq(i+2).find(".pontInputTd").find(".pontInput").val()) ;
    		            var nevId = $('.nevekTable tr').eq(i+2).attr('name');
                        var userId = $('.nevekTable tr').eq(i+2).attr('id');
                        
    		            emberek.push({
                            feladatNev:feladatNev,
                            pont:pont,
                            nevId:nevId,
                            userId:userId
                        });
                        var jelenlegiPont = Number($('.nevekTable tr').eq(i+2).find('.diakPontTd').text());
                		$('.nevekTable tr').eq(i+2).find('.diakPontTd').text(jelenlegiPont+pont);
                		$('.nevekTable tr').eq(i+2).parent().next('.feladatokTbody').children('tr:first').after('<tr class="table-light "><td colspan="2" class="alignCenter black">'+date+'</td><td colspan="2" class="alignCenter black">'+feladatNev+'</td><td colspan="3" class="alignCenter black">'+pont+'</td></tr>');
    		        }
    		    }
    		    $.ajax({
                    type:'POST',
                    url:'/newPoint',
                    dataType:'json',
                    data:{
                        osztalyId:osztalyId,
                        tantargy:tantargy,
                        emberek:emberek
                    },
                    success:function(back){
                        if(back.success){
                            loaderStop();
                            Swal.fire({
                                type: 'success',
                                title: 'Elmentve!',
                                text: '',
                                showConfirmButton: false,
                                timer: 1000
                            });
                        } else {
                            loaderStop();
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Valami hiba történt, próbáld meg később!'
                            });
                        }
                    },
                    error:function(){
                        loaderStop();
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Valami hiba történt, próbáld meg később!'
                        })
                    }
                });
            }
        });
        
    //KIJELÖLT EMBEREK NULLÁZÁSA = (annyi pontot add hozzá, hogy nulla legyen és ezt nullazas feladat néven menti el)
        $(".tobbProfilNullazasaButton").on("click",function(){
            loaderShow();
            Swal.fire({
              title: 'Biztos nullázod?',
              text: "Nulla lesz a kijelöltek pontja, de a mentett feladatok nem törlődnek!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              cancelButtonText: 'Mégse',
              confirmButtonText: 'Nullázás!'
            }).then((result) => {
                if(result.dismiss != "cancel"){
                    var trDarab = $('.nevekTable tr').length-1;
                    var mennyiChecked = Number($('.diakCheckbox:checked').length);
                    
                    let emberek = [];

                    var hiba = false;
                    
                    if(mennyiChecked==0){
                        hiba = true;
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Nem jelöltél ki senkit!'
                        })
                    }
                    if(pont=='' && (pont==0 && feladatNev == '')){
                        hiba = true;
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Nem adtad meg a kapott pontot!'
                        })
                    } 
                    
                    if(!hiba){
                        for(var i=0;i<trDarab-1;i++){
                            let selectedRow = $('.nevekTable tr').eq(i+2).find('th').find('input').is(':checked');
                            
                            if(selectedRow){
                                var feladatNev = "NULLÁZÁS";
                                var pont = 0 - Number($('.nevekTable tr').eq(i+2).find(".diakPontTd").text()) ;
                                var nevId = $('.nevekTable tr').eq(i+2).attr('name');
                                var userId = $('.nevekTable tr').eq(i+2).attr('id');
                                
                                emberek.push({
                                    feladatNev:feladatNev,
                                    pont:pont,
                                    nevId:nevId,
                                    userId:userId
                                });
                            }
                            var jelenlegiPont = Number($('.nevekTable tr').eq(i+2).find('.diakPontTd').text());
                            $('.nevekTable tr').eq(i+2).find('.diakPontTd').text(jelenlegiPont+pont);
                            $('.nevekTable tr').eq(i+2).parent().next('.feladatokTbody').children('tr:first').after('<tr class="table-light "><td colspan="2" class="alignCenter black">'+date+'</td><td colspan="2" class="alignCenter black">'+feladatNev+'</td><td colspan="3" class="alignCenter black">'+pont+'</td></tr>');
                                        
                        }
                        $.ajax({
                            type:'POST',
                            url:'/newPoint',
                            dataType:'json',
                            data:{
                                osztalyId:osztalyId,
                                tantargy:tantargy,
                                emberek:emberek
                            },
                            success:function(back){
                                loaderStop();
                                if(back.success){
                                    Swal.fire({
                                        type: 'success',
                                        title: 'Elmentve!',
                                        text: '',
                                        showConfirmButton: false,
                                        timer: 1000
                                    });
                                } else {
                                    loaderStop();
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Oops...',
                                        text: 'Valami hiba történt, próbáld meg később!'
                                    });
                                }
                            },
                            error:function(){
                                loaderStop();
                                Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Valami hiba történt, próbáld meg később!'
                                })
                            }
                        });
                    }
                }
            });
        });

    //KIJELÖLT EMBEREK PONTOK TÖRLÉSE
        $('.tobbProfilPontjaiTorleseButton').on('click',function(){
            Swal.fire({
              title: 'Biztos törlöd?',
              text: "Törlődni fognak a feladatai és a pontjai is!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              cancelButtonText: 'Mégse',
              confirmButtonText: 'Törlés!'
            }).then((result) => {
              if (result.value) {
                    var trDarab = $('.nevekTable tr').length-1;
        		    var mennyiChecked = Number($('.diakCheckbox:checked').length);
                    
                    var nevekId = [];

                    var hiba = false;
                    
                    if(mennyiChecked==0){
                        hiba = true;
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Nem jelöltél ki senkit!'
                        })
                    }
                    if(!hiba){
                        for(var i=0;i<trDarab-1;i++){
            		        var selectedRow = $('.nevekTable tr').eq(i+2).find('th').find('input').is(':checked');
            		        if(selectedRow){
            		            var nevId = $('.nevekTable tr').eq(i+2).attr('name');
            		            nevekId.push(nevId);
            		        }
            		    }
            		    $.ajax({
                           type:'POST',
                           url:'/deletPoints',
                           dataType:'json',
                           data:{
                               osztalyId:osztalyId,
                               tantargy:tantargy,
                               nevekId:nevekId,
                           },
                           success:function(back){
                               Swal.fire({
                                    type: 'success',
                                    title: 'Törölve',
                                    showConfirmButton: false,
                                    timer: 1000
                                });
                               setTimeout(function(){location.reload();},800)
                           },
                           error:function(){
                               Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Valami hiba történt, próbáld meg később!'
                                })
                           }
                       });
                    }
              }
            });
        });
    
    //EGY EMBER PONTOK TÖRLÉSE
        $('.profilPontjaiTorleseButton').on('click',function(){
           Swal.fire({
              title: 'Biztos törlöd?',
              text: "Törlődni fognak a feladatai és a pontjai is!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              cancelButtonText: 'Mégse',
              confirmButtonText: 'Törlés!'
            }).then((result) => {
              if (result.value) {
                var nevId = [  $(this).parent().parent().parent().parent().parent().attr('name') ];
                $.ajax({
                   type:'POST',
                   url:'/deletPoints',
                   dataType:'json',
                   data:{
                       osztalyId:osztalyId,
                       tantargy:tantargy,
                       nevekId:nevId,
                   },
                   success:function(back){
                       Swal.fire({
                            type: 'success',
                            title: 'Törölve',
                            showConfirmButton: false,
                            timer: 1000
                        });
                       setTimeout(function(){location.reload();},800)
                   },
                   error:function(){
                       Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Valami hiba történt, próbáld meg később!'
                        })
                   }
               });
                    
              }
            });
        });
    
    //PROFIL TÖRLÉSE A CSOPORTBÓL
        $('.profilTorleseButton').on('click',function(){
            Swal.fire({
              title: 'Biztos törlöd?',
              text: "A diák törlődni fog a csoportból és vele együtt a pontjai is!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              cancelButtonText: 'Mégse',
              confirmButtonText: 'Törlés!'
            }).then((result) => {
              if (result.value) {
                Swal.fire({
                    type: 'success',
                    title: 'Törölve',
                    showConfirmButton: false,
                    timer: 1000
                });
                var nevId  = $(this).parent().parent().parent().parent().parent().attr('name');
                var userId = $(this).parent().parent().parent().parent().parent().attr("id");
                $.ajax({
                  type:'POST',
                  url:'/deletProfileFromGroup',
                  dataType:'json',
                  data:{
                      osztalyId:osztalyId,
                      tantargy:tantargy,
                      nevId:nevId,
                      userId:userId
                  },
                  success:function(back){
                      setTimeout(function(){location.reload()},800);
                  },
                  error:function(){
                      Swal.fire({
                           type: 'error',
                           title: 'Oops...',
                           text: 'Valami hiba történt, próbáld meg később!'
                       })
                  }
                });
              }
            });
        });

    //CSOPORT TÖRLÉSE
        $('#csoportTorleseButton').on('click',function(){
            Swal.fire({
              title: 'Biztos törlöd?',
              text: "Törlődni fog a csoport összes adata!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              cancelButtonText: 'Mégse',
              confirmButtonText: 'Törlés!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type:'POST',
                        url:'/deleteGroup',
                        dataType:'json',
                        data:{
                            osztalyId:osztalyId,
                            tantargy:tantargy
                        },
                        success:function(){
                            Swal.fire({
                                type: 'success',
                                title: 'Törölve',
                                showConfirmButton: false,
                                timer: 1000
                            });
                            setTimeout(function(){window.location.href='/classesTe'},800);
                        },
                        error:function(){
                            Swal.fire({
                               type: 'error',
                               title: 'Oops...',
                               text: 'Valami hiba történt, próbáld meg később!'
                           })
                        }
                    })
                }
            })
        });




//FUNCTIONS
    //CHECKBOX SELECT ALL
		function selectAllOne(){  //"select all" change 
			$(".checkbox").prop('checked', $("#selectAll").prop("checked")); //change all ".checkbox" checked status
		}
		function selectAllTwo (){ 
	        //uncheck "select all", if one of the listed checkbox item is unchecked
    			if(false == $('.checkbox').prop("checked")){ //if this item is unchecked
    				$("#selectAll").prop('checked', false); //change "select all" checked status to false
    			}
	        //check "select all" if all checkbox items are checked
    			if ($('.checkbox:checked').length == $('.checkbox').length ){
    				$("#select_all").prop('checked', true);
    			}
		}

</script>




<% include ../partials/footer %>